[submodule "lib/axis"]
	path = lib/axis
	url = https://github.com/alexforencich/verilog-axis
[submodule "lib/axi"]
	path = lib/axi
	url = https://github.com/alexforencich/verilog-axi
[submodule "lib/pcie"]
	path = lib/pcie
	url = https://github.com/alexforencich/verilog-pcie
[submodule "lib/eth"]
	path = lib/eth
	url = https://github.com/alexforencich/verilog-ethernet
